<h1>Admin Unit Page</h1>
<p style="color:red">{{ status|safe }}</p>
<br>
{% if messages %}
    
        {% for message in messages %}
        <p style="color:rgb(27, 216, 52)">{{ message|safe }}</p>
        {% endfor %}
    
    {% endif %}

<a href="{% url 'adminbookings' %}">Admin Bookings Page</a>
<br>
<a href="{% url 'adminaddunits' %}">Add New Unit</a>


{% load static %}
<html>
  <body>
    
    <div>
    <table border = 1>
      <thead>
        <th>HDB ID</th>
        <th>HDB Address</th>
        <th>HDB Unit Number</th>
        <th>HDB Type</th>
        <th>Size</th>
        <th>Rent Price per Day</th>
        <th>Town</th>
        <th>Multistorey Carpark</th>
        <th>Contact Person Name</th>
        <th>Contact Person Mobile</th>
        <th>HDB Latitude</th>
        <th>HDB Longitude</th>
        <th>Nearest MRT</th>
        <th>Can Book</th>
        <th>Action</th>
      </thead>
      {% for unit in records %}
      <tr>
        <td> {{ unit.0 }} </td>
        <td> {{ unit.1 }} </td>
        <td> {{ unit.2 }} </td>
        <td> {{ unit.3 }} </td>
        <td> {{ unit.4 }} </td>
        <td> {{ unit.5 }} </td>
        <td> {{ unit.6 }} </td>
        <td> {{ unit.7 }} </td>
        <td> {{ unit.8 }} </td>
        <td> {{ unit.9 }} </td>
        <td> {{ unit.10 }} </td>
        <td> {{ unit.11 }} </td>
        <td> {{ unit.12 }} </td>
        <td> {{ unit.13 }} </td>
        
      <td><a href="view/{{unit.0}}"><button>View</button></a> | 
            <a href="edit/{{unit.0}}"><button>Edit</button></a>
            | 
            <form method="POST" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{unit.0}}"/>
            <button onclick="return confirm('Are you sure you want to delete {{unit.0}}?');" type="submit" name="action" value="delete">Delete</button> 
          </form></td>
      </tr>
      {% endfor %}
    </table>
    


  </body>
</html>