{% extends 'main.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}





<h1>Admin Page - MRTs</h1>
<p style="color:red">{{ status|safe }}</p>
<br>
{% if messages %}
    
        {% for message in messages %}
        <p style="color:rgb(27, 216, 52)">{{ message|safe }}</p>
        {% endfor %}
    
    {% endif %}

<a href="{% url 'adminaddmrt' %}">Add New MRT</a>

{% load static %}
<html>
  <body>
    
    <div>
    <table border = 1>
      <thead>
        <th>Station Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        
      </thead>
      {% for station in stations %}
      <tr>
        <td> {{ station.0 }} </td>
        <td> {{ station.1 }} </td>
        <td> {{ station.2 }} </td>

      </tr>
      {% endfor %}
    </table>
    


  </body>
</html>
{% else %}
<h1 style="color:red">
  Permission Denied
</h1>
{% endif %}
{% endblock %}








