{% extends 'main.html' %}

{% block content %}
{% load static %}
<body>
    <div>       
        <h1>Change Password</h1>
        <form method = "POST" action = "">
            {% csrf_token %}
            <label>Old Password:</label>
            <input type = "password" name = "old_password" placeholder = "Enter Old Password" value = "{{old_password}}" required=""/><br>
            <label>New Password:</label>
            <input type = "password" name = "new_password" placeholder = "Enter New Password" value = "{{new_password}}" required=""/><br>
            <label>Confirm New Password:</label>
            <input type = "password" name = "confirm_new_password" placeholder = "Re-enter New Password" value = "{{confirm_new_password}}" required=""/><br>
            <input type = "submit" value = "Confirm changes"/>
        
        </form>
        
    </div>
</body>
{% endblock %}
