{% extends 'main.html' %}

{% block content %}
{% load static %}
<body>
    <div>       
        <h1>Change Profile</h1>
        <form method = "POST" action = "">
            {% csrf_token %}
            <label>New Name:</label>
            <input type = "text" name = "name" placeholder = "Enter Name" value = "{{old_name}}" required=""/><br>
            <label>New Phone Number:</label>
            <input type = "number" name = "number" placeholder = "Enter Phone Number" value = "{{old_number}}" min = 10000000 max = 99999999 required=""/><br>
            <input type = "submit" value = "Confirm changes"/>
        </form>
    </div>
</body>
{% endblock %}
