{% include 'navbar.html' %}

{% block content %}
{% load static %}
  <body>
    <h2>Hi Hari, Bryan, Jason!</h2>
    <h2>This page is from index.html. So, index.html later on should be the sign in page :)</h2>
    <h2>Goodluck</h2>
    <table border = 1>
      <thead>
        <th>HDB Address</th>
        <th>HDB Unit Number</th>
        <th>HDB Type</th>
        <th>Size</th>
        <th>Rent Price per Day</th>
        <th>Town</th>
        <th>Multistorey Carpark</th>
        <th>Contact Person Name</th>
        <th>Contact Person Mobile</th>
        <th>HDB Latitude</th>
        <th>HDB Longitude</th>
        <th>Nearest MRT</th>
      </thead>
      {% for unit in records %}
      <tr>
        <td> {{ unit.0 }} </td>
        <td> {{ unit.1 }} </td>
        <td> {{ unit.2 }} </td>
        <td> {{ unit.3 }} </td>
        <td> {{ unit.4 }} </td>
        <td> {{ unit.5 }} </td>
        <td> {{ unit.6 }} </td>
        <td> {{ unit.7 }} </td>
        <td> {{ unit.8 }} </td>
        <td> {{ unit.9 }} </td>
        <td> {{ unit.10 }} </td>
        <td> {{ unit.11 }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
