{% load static %}
<html>
  <body>
    <h2>Hello</h2>
    <table border = 1>
      <thead>
        <th>HDB Name</th>
        <th>HDB Address</th>
        <th>HDB Unit Number</th>
        <th>HDB Type</th>
        <th>Size</th>
        <th>Rent Price per Day</th>
        <th>Town</th>
        <th>Multistorey Carpark</th>
        <th>Contact Person Name</th>
        <th>Contact Person Mobile</th>
        <th>HDB Latitude</th>
        <th>HDB Longitude</th>
        <th>Nearest MRT</th>
      </thead>
      {% for listing in records %}
      <tr>
        <td> {{ listing.0 }} </td>
        <td> {{ listing.1 }} </td>
        <td> {{ listing.2 }} </td>
        <td> {{ listing.3 }} </td>
        <td> {{ listing.4 }} </td>
        <td> {{ listing.5 }} </td>
        <td> {{ listing.6 }} </td>
        <td> {{ listing.7 }} </td>
        <td> {{ listing.8 }} </td>
        <td> {{ listing.9 }} </td>
        <td> {{ listing.10 }} </td>
        <td> {{ listing.11 }} </td>
        <td> {{ listing.12 }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
