{% extends 'main.html' %}

{% block content %}
{% load static %}
  <body>
    <div>
      <form method = "POST">
        {% csrf_token %}
        <div id="div_id_start_date" class="control-group"> 
          <label for="id_start_date" class="control-label requiredField">Start Date</label> 
            <div class="controls"> <input type="date" id="id_start_date" name="start_date" value={{start_date}}> </div> 
        </div> 
        
        <div id="div_id_end_date" class="control-group"> 
          <label for="id_end_date" class="control-label requiredField">End Date</label> 
            <div class="controls"> <input type="date" id="id_end_date" name="end_date" value={{end_date}}> </div> 
        </div> 
        
        <div id="div_id_num_guests" class="control-group"> 
          <label for="id_num_guests" class="control-label requiredField">Number of Guests (1 - 6)</label> 
            <div class="controls"> <input type="number" name="num_guests" id="id_num_guests" min="1", max="6"> </div>
        </div> 
        
        <div id="div_id_price_per_day" class="control-group"> 
          <label for="id_price_per_day" class="control-label requiredField">Price Per Day</label> </div> 
          <label for="id_min_price_per_day" class = "control-label requiredField">Min</label>
            <div class="controls"> <input type="number" name="min_price_per_day" id="id_min_price_per_day" min="0"> </div>
          <label for="id_max_price_per_day" class = "control-label requiredField">Max</label>
            <div class="controls"> <input type="number" name="max_price_per_day" id="id_max_price_per_day" min="0"> </div>
        
        <div id="div_id_regions" class="control-group"> 
          <label for="id_regions" class="control-label requiredField">Region (multi-select with ctrl)</label> 
            <div class="controls"><select name="regions" id="id_regions" multiple>
              {% for region in regions %}
              <option value="{{region.0}}">{{region.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_towns" class="control-group"> 
          <label for="id_towns" class="control-label requiredField">Town (multi-select with ctrl)</label> 
            <div class="controls"><select name="towns" id="id_towns" multiple>
              {% for town in towns %}
              <option value="{{town.0}}">{{town.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_hdb_types" class="control-group"> 
          <label for="id_hdb_types" class="control-label requiredField">HDB Type (multi-select with ctrl)</label> 
            <div class="controls"><select name="hdb_types" id="id_hdb_types" multiple>
              {% for type in hdb_types %}
              <option value="{{type.0}}">{{type.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_size" class="control-group"> 
          <label for="id_size" class="control-label requiredField">Size (35 - 118 m^2)</label> </div> 
          <label for="id_min_size" class = "control-label requiredField">Min</label>
            <div class="controls"> <input type="number" name="min_size" id="id_min_size" min="1" max="118"> </div>
          <label for="id_max_size" class = "control-label requiredField">Max</label>
            <div class="controls"> <input type="number" name="max_size" id="id_max_size" min="1" max="118"> </div>
        
        <div id="div_id_num_bedrooms" class="control-group"> 
          <label for="id_num_bedrooms" class="control-label requiredField">Number of Bedrooms (multi select with ctrl)</label> 
            <div class="controls"><select name="num_bedrooms" id="id_num_bedrooms" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                
              </select> </div>
        </div> 
        
        <div id="div_id_num_bathrooms" class="control-group"> 
          <label for="id_num_bathrooms" class="control-label requiredField">Number of Bathrooms (multi select with ctrl)</label> 
            <div class="controls"><select name="num_bathrooms" id="id_num_bathrooms" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                
              </select> </div>
        </div> 
        
        <div id="div_id_nearest_mrts" class="control-group"> 
          <label for="id_nearest_mrts" class="control-label requiredField">Nearest MRT (multi-select with ctrl)</label> 
            <div class="controls"><select name="nearest_mrts" id="id_nearest_mrts" multiple>
              {% for station in mrt_stations %}
              <option value="{{station.0}}">{{station.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_nearest_mrt_dists" class="control-group"> 
          <label for="id_nearest_mrt_dists" class="control-label requiredField">Nearest MRT Distance (multi-select with ctrl)</label> 
            <div class="controls"><select name="nearest_mrt_dists" id="id_nearest_mrt_dists" multiple>
                <option value="< 100 m">< 100 m</option>
                <option value="100 - 250 m">100 - 250 m</option>
                <option value="250 m - 1 km">250 m - 1 km</option>
                <option value="1 - 2 km">1 - 2 km</option>
                <option value="> 2 km">> 2 km</option>
                
              </select> </div>
        </div>
        
        <button type="submit">Apply Filter</button>

      </form>
    </div>
    
    
    <table border = 1>
      <thead>
        <th>HDB ID</th>
        <th>HDB Address</th>
        <th>HDB Unit Number</th>
        <th>HDB Type</th>
        <th>Size</th>
        <th>Rent Price per Day</th>
        <th>Town</th>
        <th>Num Bedrooms</th>
        <th>Num Bathrooms</th>
        <th>Max Occupants</th>
        <th>Multistorey Carpark</th>
        <th>Contact Person Name</th>
        <th>Contact Person Mobile</th>
        <th>HDB Latitude</th>
        <th>HDB Longitude</th>
        <th>Nearest MRT Station</th>
        <th>Nearest MRT Distance (in km)</th>
      </thead>
      {% for listing in listings %}
      <tr>
        <td> {{ listing.1 }} </td>
        <td> {{ listing.2 }} </td>
        <td> {{ listing.3 }} </td>
        <td> {{ listing.0 }} </td>
        <td> {{ listing.4 }} </td>
        <td> {{ listing.5 }} </td>
        <td> {{ listing.6 }} </td>
        <td> {{ listing.15 }} </td>
        <td> {{ listing.16 }} </td>
        <td> {{ listing.17 }} </td>
        <td> {{ listing.7 }} </td>
        <td> {{ listing.8 }} </td>
        <td> {{ listing.9 }} </td>
        <td> {{ listing.10 }} </td>
        <td> {{ listing.11 }} </td>
        <td> {{ listing.12 }} </td>
        <td> {{ listing.13 }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
