{% extends 'main.html' %}

{% block content %}
{% load static %}
  <body>
    <div>
      <form method = "POST">
        {% csrf_token %}
        <div id="div_id_start_date" class="control-group"> 
          <label for="id_start_date" class="control-label requiredField">Start Date</label> 
            <div class="controls"> <input type="date" id="id_start_date" name="start_date" value={{start_date}}> </div> 
        </div> 
        
        <div id="div_id_end_date" class="control-group"> 
          <label for="id_end_date" class="control-label requiredField">End Date</label> 
            <div class="controls"> <input type="date" id="id_end_date" name="end_date" value={{end_date}}> </div> 
        </div> 
        
        <div id="div_id_num_guests" class="control-group"> 
          <label for="id_num_guests" class="control-label requiredField">Number of Guests (1 - 6)</label> 
            <div class="controls"> <input type="number" name="num_guests" id="id_num_guests" min="1", max="6" value={{num_guests}}> </div>
        </div> 
        
        <div id="div_id_price_per_day" class="control-group"> 
          <label for="id_price_per_day" class="control-label requiredField">Price Per Day</label> </div> 
          <label for="id_min_price_per_day" class = "control-label requiredField">Min</label>
            <div class="controls"> <input type="number" name="min_price_per_day" id="id_min_price_per_day" min="0" value={{min_price_per_day}}> </div>
          <label for="id_max_price_per_day" class = "control-label requiredField">Max</label>
            <div class="controls"> <input type="number" name="max_price_per_day" id="id_max_price_per_day" min="0" value={{max_price_per_day}}> </div>
        
        <div id="div_id_regions" class="control-group"> 
          <label for="id_regions" class="control-label requiredField">Region (multi-select with ctrl)</label> 
            <div class="controls"><select name="regions" id="id_regions" multiple>
              {% for region in regions %}
              <option value="{{region.0}}" {% if region.1 == "Yes" %}selected{% endif %}>{{region.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
<!--         
        {% for listing in listings %}
          {{listing}}
        {% endfor %} -->
        
        <div id="div_id_towns" class="control-group"> 
          <label for="id_towns" class="control-label requiredField">Town (multi-select with ctrl)</label> 
            <div class="controls"><select name="towns" id="id_towns" multiple>
              {% for town in towns %}
              <option value="{{town.0}}" {% if town.1 == "Yes" %}selected{% endif %}>{{town.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_hdb_types" class="control-group"> 
          <label for="id_hdb_types" class="control-label requiredField">HDB Type (multi-select with ctrl)</label> 
            <div class="controls"><select name="hdb_types" id="id_hdb_types" multiple>
              {% for hdb_type in hdb_types %}
              <option value="{{hdb_type.0}}" {% if hdb_type.1 == "Yes" %}selected{% endif %}>{{hdb_type.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_size" class="control-group"> 
          <label for="id_size" class="control-label requiredField">Size (35 - 118 m^2)</label> </div> 
          <label for="id_min_size" class = "control-label requiredField">Min</label>
            <div class="controls"> <input type="number" name="min_size" id="id_min_size" min="1" max="118" value={{min_size}}> </div>
          <label for="id_max_size" class = "control-label requiredField">Max</label>
            <div class="controls"> <input type="number" name="max_size" id="id_max_size" min="1" max="118" value={{max_size}}> </div>
        
        <div id="div_id_num_bedrooms" class="control-group"> 
          <label for="id_num_bedrooms" class="control-label requiredField">Number of Bedrooms (multi select with ctrl)</label> 
            <div class="controls"><select name="num_bedrooms" id="id_num_bedrooms" multiple>
              {% for bedroom in num_bedrooms %}
              <option value="{{bedroom.0}}" {% if bedroom.1 == "Yes" %}selected{% endif %}>{{bedroom.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div> 
        
        <div id="div_id_num_bathrooms" class="control-group"> 
          <label for="id_num_bathrooms" class="control-label requiredField">Number of Bathrooms (multi select with ctrl)</label> 
            <div class="controls"><select name="num_bathrooms" id="id_num_bathrooms" multiple>
              {% for bathroom in num_bathrooms %}
              <option value="{{bathroom.0}}" {% if bathroom.1 == "Yes" %}selected{% endif %}>{{bathroom.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div> 
        
        <div id="div_id_nearest_mrts" class="control-group"> 
          <label for="id_nearest_mrts" class="control-label requiredField">Nearest MRT (multi-select with ctrl)</label> 
            <div class="controls"><select name="nearest_mrts" id="id_nearest_mrts" multiple>
              {% for station in mrt_stations %}
              <option value="{{station.0}}" {% if station.1 == "Yes" %}selected{% endif %}>{{station.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <div id="div_id_nearest_mrt_dists" class="control-group"> 
          <label for="id_nearest_mrt_dists" class="control-label requiredField">Nearest MRT Distance (multi-select with ctrl)</label> 
            <div class="controls"><select name="nearest_mrt_dists" id="id_nearest_mrt_dists" multiple>
              {% for dist in nearest_mrt_dist %}
              <option value="{{dist.0}}" {% if dist.1 == "Yes" %}selected{% endif %}>{{dist.0}}</option>
              {% endfor %}
                
              </select> </div>
        </div>
        
        <button type="submit">Apply Filter</button>
        <a href = "{% url 'listings' %}">Clear Selections</a>

      </form>
    </div>
    
    
    <table border = 1>
      <thead>
        <th>HDB ID</th>
        <th>HDB Address</th>
        <th>HDB Unit Number</th>
        <th>HDB Type</th>
        <th>Region</th>
        <th>Town</th>
        <th>Rent Price per Day</th>
        <th>Size</th>
        <th>Num Bedrooms</th>
        <th>Num Bathrooms</th>
        <th>Max Occupants</th>
        <th>Multistorey Carpark</th>
        <th>Contact Person Name</th>
        <th>Contact Person Mobile</th>
        <th>HDB Latitude</th>
        <th>HDB Longitude</th>
        <th>Nearest MRT Station</th>
        <th>Nearest MRT Distance (in km)</th>
        <th>Action</th>
      </thead>
      {% for listing in listings %}
      <tr>
        <td> {{ listing.2 }} </td>
        <td> {{ listing.3 }} </td>
        <td> {{ listing.4 }} </td>
        <td> {{ listing.1 }} </td>
        <td> {{ listing.18 }} </td>
        <td> {{ listing.0 }} </td>
        <td> {{ listing.6 }} </td>
        <td> {{ listing.5 }} </td>
        <td> {{ listing.15 }} </td>
        <td> {{ listing.16 }} </td>
        <td> {{ listing.17 }} </td>
        <td> {{ listing.7 }} </td>
        <td> {{ listing.8 }} </td>
        <td> {{ listing.9 }} </td>
        <td> {{ listing.10 }} </td>
        <td> {{ listing.11 }} </td>
        <td> {{ listing.12 }} </td>
        <td> {{ listing.13 }} </td>
        <td> <a href="book/{{listing.2}}"><button>Book</button></a>
      </tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
