{% extends 'main.html' %}

{% block content %}
{% load static %}
  <body>
    <div>
      <form method = "POST">
        {% csrf_token %}
        <div id="div_id_start_date" class="control-group"> 
          <label for="id_start_date" class="control-label requiredField">Start Date<span class="asteriskField">*</span> </label> 
            <div class="controls"> <input type="date" id="id_start_date" name="start_date" required=""> </div> 
        </div> 
        <div id="div_id_end_date" class="control-group"> 
          <label for="id_end_date" class="control-label requiredField">End Date<span class="asteriskField">*</span> </label> 
            <div class="controls"> <input type="date" id="id_end_date" name="end_date" required=""> </div> 
        </div> 
        <div id="div_id_num_guests" class="control-group"> 
          <label for="id_num_guests" class="control-label requiredField">Number of Guests</label> 
            <div class="controls"> <input type="number" name="num_guests" id="id_num_guests" min="1"> </div>
        </div> 
        <div id="div_id_price_per_day" class="control-group"> 
          <label for="id_price_per_day" class="control-label requiredField">Price Per Day</label> 
          <label for="id_min_price_per_day" class = "control-label requiredField">Min</label>
            <div class="controls"> <input type="number" name="min_price_per_day" id="id_min_price_per_day" min="1" value="1"> </div>
          <label for="id_max_price_per_day" class = "control-label requiredField">Min</label>
            <div class="controls"> <input type="number" name="max_price_per_day" id="id_max_price_per_day" max="6" value="6"> </div>
        </div> 
        
<!--         
        <label>Phone Number:</label>
        <input type = "number" name = "number" placeholder = "Enter Phone Number" required=""/>
        <label>Email:</label>
        <input type = "text" name = "email" placeholder = "Enter Email" required=""/>
        <label>Password:</label>
        <input type = "password" name = "password" placeholder = "Enter Password" required=""/>
        <label>Confirm Password:</label>
        <input type = "password" name = "confirm_password" placeholder = "Re-enter Password" required=""/>
        <input type = "submit" value = "Register"/>
        
        <p>Already have an account?</p>
        <a href = "{% url 'login' %}">Sign in</a> -->

      </form>
    </div>
    
    
    <table border = 1>
      <thead>
        <th>HDB ID</th>
        <th>HDB Address</th>
        <th>HDB Unit Number</th>
        <th>HDB Type</th>
        <th>Size</th>
        <th>Rent Price per Day</th>
        <th>Town</th>
        <th>Multistorey Carpark</th>
        <th>Contact Person Name</th>
        <th>Contact Person Mobile</th>
        <th>HDB Latitude</th>
        <th>HDB Longitude</th>
        <th>Nearest MRT Station</th>
        <th>Nearest MRT Distance (in km)</th>
      </thead>
      {% for listing in listings %}
      <tr>
        <td> {{ listing.0 }} </td>
        <td> {{ listing.1 }} </td>
        <td> {{ listing.2 }} </td>
        <td> {{ listing.3 }} </td>
        <td> {{ listing.4 }} </td>
        <td> {{ listing.5 }} </td>
        <td> {{ listing.6 }} </td>
        <td> {{ listing.7 }} </td>
        <td> {{ listing.8 }} </td>
        <td> {{ listing.9 }} </td>
        <td> {{ listing.10 }} </td>
        <td> {{ listing.11 }} </td>
        <td> {{ listing.12 }} </td>
        <td> {{ listing.13 }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
