<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </body>
<div>
    <form method = "POST" action = "">
        {% csrf_token %}
        <label>Email:</label>
        <input type = "text" name = "email" placeholder = "Enter Email"/>
        <label>Password:</label>
        <input type = "password" name = "password" placeholder = "Enter Password"/>
        <input type = "submit" value = "Login"/>
        
        <p>Haven't signed up yet?</p>
        <a href = "{% url 'register' %}">Sign up</a>

    </form>
</div>

