{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirHDB</title>
</head>
<body>
    <img src="{% static 'app/images/AirHDB_logo2.png' %}" width="13%"   alt="AirHDB Logo"/><br/>
    <a href = "{% url 'listings' %}">Listings</a>
    <a href = "{% url 'adminunits' %}">Admin Page - Units</a> 
    <a href = "{% url 'adminbookings' %}">Admin Page - Bookings</a> 
    <a href = "{% url 'adminmrts' %}">Admin Page - MRTs</a> 
    <a href = "{% url 'profile' %}">Profile</a>
    <a href = "{% url 'user_bookings' %}">Bookings</a>
    <a href = "{% url 'posts' %}">Posted HDBs</a>
    <a href = "{% url 'change_password' %}">Change Password</a>
    <a href = "{% url 'logout' %}">Log Out</a>
    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}

    {% endblock %}
</body>
</html>
