<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



<div>
    <h1>Register</h1>
    <form method = "POST" action = "">
        {% csrf_token %}
        <label>Name:</label>
        <input type = "text" name = "name" placeholder = "Enter Name" value = "{{name}}" required=""/> <br>
        <label>Phone Number:</label>
        <input type = "number" name = "number" placeholder = "Enter Phone Number" value = "{{number}}" min = 10000000 max = 99999999 required=""/><br>
        <label>Email:</label>
        <input type = "text" name = "email" placeholder = "Enter Email" value = "{{email}}" required=""/><br>
        <label>Password:</label>
        <input type = "password" name = "password" placeholder = "Enter Password" value = "{{password}}" required=""/><br>
        <label>Confirm Password:</label>
        <input type = "password" name = "confirm_password" placeholder = "Re-enter Password" value = "{{confirm_password}}" required=""/><br>
        <input type = "submit" value = "Register"/>
        
        <p>Already have an account?</p>
        <a href = "{% url 'login' %}">Sign in</a>

    </form>
</div>
</body>
