{% extends 'main.html' %}

{% block content %}
{% load static %}
{% if status %}
<p style="color:red">{{ status|safe }}</p>
<br>
{% endif %}
{% if messages %}
    
        {% for message in messages %}
        <p style="color:red">{{ message|safe }}</p>
        {% endfor %}
        <br>  
    {% endif %}

    <h1>Upcoming Bookings</h1><br>
    <body>
        <table border = 1>
        <thead>
            <th>Booking ID</th>
	    <th>HDB ID</th>
	    <th>Address</th>
	    <th>Unit Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Credit Card Type</th>
            <th>Credit Card Number</th>
            <th>Total Price</th>
            <th>Action</th>
        </thead>
        {% for upcoming_booking in upcoming_bookings %}
        <tr>
            <td> {{ upcoming_booking.0 }} </td>
            <td> {{ upcoming_booking.1 }} </td>
            <td> {{ upcoming_booking.2 }} </td>
            <td> {{ upcoming_booking.3 }} </td>
	    <td> {{ upcoming_booking.4 }} </td>
            <td> {{ upcoming_booking.5 }} </td>
            <td> {{ upcoming_booking.6 }} </td>
            <td> {{ upcoming_booking.7 }} </td>
	    <td> {{ upcoming_booking.8 }} </td>

 	    <!--need to change the primary key once clifton adds the id for booking-->
            <td><a href="view/{{upcoming_booking.0}}"><button>View</button></a> | 
                <a href="edit/{{upcoming_booking.0}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{upcoming_booking.0}}"/>
                <button onclick="return confirm('Are you sure you want to refund booking id {{upcoming_booking.0}}?');" type="submit" name="action" value="refund">Refund</button> 
              </form></td>
         </tr>
    
	 {% endfor %}
	 </table>

     {% if past_bookings %}
     <h1>Past Bookings</h1><br>

     <table border = 1>
        <thead>
            <th>Booking ID</th>
	    <th>HDB ID</th>
	    <th>Address</th>
	    <th>Unit Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Credit Card Type</th>
            <th>Credit Card Number</th>
            <th>Total Price</th>
            <th>Action</th>
        </thead>

	 {% for past_booking in past_bookings %}
         <tr>
            <td> {{ past_booking.0 }} </td>
            <td> {{ past_booking.1 }} </td>
            <td> {{ past_booking.2 }} </td>
            <td> {{ past_booking.3 }} </td>
	    <td> {{ past_booking.4 }} </td>
            <td> {{ past_booking.5 }} </td>
            <td> {{ past_booking.6 }} </td>
            <td> {{ past_booking.7 }} </td>
	    <td> {{ past_booking.8 }} </td>

        <td><a href="view/{{upcoming_booking.0}}"><button>View</button></a> </td>

         </tr>
        {% endfor %}
        </table>
        {% endif %}
    </body>
{% endblock %}
